
<div class="btn-group user">
    <a href="#" class="btn btn-info">Người dùng</a>
    <a href="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("ProfileUser","Login")">Thông tin cá nhân</a></li>
        <li><a href="#">Quản lý các người dùng</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
    </ul>
</div>

